.mainAuth {
    display: flex;
    height: 100vh;
}

.image-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.registerForm {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .image-container {
        display: none; /* إخفاء الصورة على الموبايل */
    }
    
    .registerForm {
        width: 100%; /* جعل الفورم يأخذ كامل العرض */
    }
}
