.sidebar-profile {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: linear-gradient(135deg, #2c3e50, #34495e);
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.sidebar-profile.open {
  left: 0;
}

.close-sidebar {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-sidebar:hover {
  color: #1abc9c;
}

.sidebar-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: #ecf0f1;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #2c3e50;
}

.sidebar-links li {
  margin-bottom: 20px;
  color: #2c3e50;

}

.sidebar-links a,
.logout-button {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-links a:hover,
.logout-button:hover {
  background-color: #1abc9c;
  color: white;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

/* تنسيق الاستجابة */
@media (max-width: 768px) {
  .sidebar-profile {
    width: 250px;
  }

  .sidebar-title {
    font-size: 1.5rem;
  }

  .sidebar-links a,
  .logout-button {
    font-size: 1rem;
    padding: 8px 12px;
  }
}


