
:root {
  --mainColor: #7226eb;
  --darkBackground: #1a1a1a;
  --lightText: #ffffff;
  --mutedText: #bbbbbb;
  --darkColor:#061e33
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .btn {
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .btn-primary {
    background-color: var(--mainColor);
    border: none;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: var(--mainColor);
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
    color: #fff;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }



